

*{  
  /*font-family: 'Noto Sans Limbu', sans-serif;*/
  font-family: 'Bayon', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

header {
    padding: 15px 0;
    background-color: #000000;
    border-bottom: 2px solid #f4eded;
}


.container_header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titulo_header {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 15px;
}

.titulo_header img {
    margin-right: auto;
    width: 70px;
    margin-left: 35px;
}

.titulo_header p {
    text-align: center;
}

.navegacao_header {
    width: 350px;
    color: #ffffff;
}

.navegacao_header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navegacao_header a {
    color: #ffffff;
    text-decoration: none;
}

.navegacao_header ul li {
    font-size: 1rem;
    cursor: pointer;
}

.agora {
    font-weight: bold;
}

/*FIM DO HEADER*/

/* BANNER 1 */

.container {
    background-image: url(./TwentyonePilots_img7.jpg);
    display: flex;
    justify-content: flex-start;
}

.banner1 {
    display: flex;
    margin-top: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
}

.banner1 h1 {
    font-weight: 10000px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    text-align: center;
}

.botoes button{
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
    outline: 0;
    margin-bottom: 100px;
    font-weight: 200;
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.botoes button:hover{
    background-color: #fff;
    color: #000;
}

.banner1 img {
    width: 250px;
    margin-bottom: 50px;
}

/* BANNER 1 */


/* BANNER 2 */

.container2 {
    display: flex;
    justify-content: flex-end;
    background-image: url(./TwentyonePilots_img_SKELETON8versao2.jpg);
}


.banner2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: baseline;
}

.texto_banner2 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 790px;
    height: 400px;
    margin-bottom: 200px;
    margin-top: 250px;
    margin-right: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner2 img {
    width: 125px;
    margin-left: 20px;
}

.texto_banner2 p {
 
    display: flex;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
    margin-bottom: 100px;
    font-size: 22px;
    margin-left: 7px;


}


/* BANNER 2 */


/* BANNER TYLER */

.container3 {
    display: flex;
    background-image: url(./TwentyonePilots_img12.jpg);
}

.banner3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
    margin-bottom: 150px;
}

.texto_banner3 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 810px;
    height: 525px;
    margin-bottom: 25px;
    margin-top: 150px;
    margin-left: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner3 img {
    width: 125px;
    margin-left: 20px;
}

.banner3 p {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    
}

.banner3 h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    margin-left: 35px;
}

/* BANNER TYLER */

/* BANNER JOSH */

.container4 {
    display: flex;
    justify-content: flex-end;
    background-image: url(./TwentyonePilots_img30ATUALIZADA.jpg);
}

.banner4 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.texto_banner4 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 810px;
    height: 525px;
    margin-bottom: 25px;
    margin-top: 150px;
    margin-right: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner4 img {
    width: 125px;
    margin-left: 20px;
}


.texto_banner4 p {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    margin-top: 50px;
}

.texto_banner4 h2 {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
}

/* BANNER JOSH */

/* BANNER BRASIL */

/*.container5 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}

.banner5 h1{
    color: #fff;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;

}

.banner5 p {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 150;
}*/

.conteudo {
    height: 520px;
    width: 935;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.bar:hover{
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}



/* BANNER BRASIL */


/* CARROSSEL */


.container6{
    display: flex;
    background-color: #000;
    justify-content: center;
    flex-direction: column;
}

.container6 h1{
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.container_galeria {
    
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    margin-top: 200px;
}

.galeria-wrapper {
    overflow-x: auto;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;   
}

.galeria p{
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
}

P#selftitled {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
}

P#rab {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
   
}

P#vessel {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
}

P#blurryface {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
}

P#trench {
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
}

.caixa_album{
    display: flex;
    flex-direction: column;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

#caixa_selftitled:hover {
    box-shadow: 0 0 30px rgb(242, 246, 248);
}

#caixa_rab:hover {
    box-shadow: 0 0 30px rgb(19, 155, 234);
    border: solid 2px rgb(19, 155, 234);
}

#caixa_vessel:hover {
    box-shadow: 0 0 30px rgb(22, 73, 140);;
    border: solid 2px rgb(22, 73, 140);
}


#caixa_blurryface:hover {
    box-shadow: 0 0 30px rgb(255, 0, 0);
    border: solid 2px rgb(255, 0, 0);
}

#caixa_trench:hover {
    box-shadow: 0 0 30px rgb(255, 247, 0);
    border: solid 2px rgb(255, 238, 0);
}

#caixa_heathens:hover {
    box-shadow: 0 0 30px rgb(160, 27, 111);
    border: solid 2px rgb(160, 27, 111);
}



.galeria-wrapper::-webkit-scrollbar {
    display: none;
}


/* CARROSSEL */

/* CONTAINER 7 */

.container7{
    display: flex;
    justify-content: center;
    background-image: url(./TwentyonePilots_img_TRENCH7.jpg);
}

.banner7 {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    justify-content: center;
    gap: 15%;
}

.skeleton{
    display: flex;
    border: solid #fff 7px;
    border-radius: 10px;
    width: 330px;
    height: 350px;
}

.skeleton img{
    width: 500px;
}

.skeleton h2 {
    position: absolute;
    text-align: center;
    margin-top: 122px;
    color: #fff;
    margin-left: 80px;
    font-weight: 1000;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
}

.emmy {
    display: flex;
    border: solid #fff 10px;
    width: auto;
    height: 350px;
    border: solid #fff 7px;
    border-radius: 10px;
}

.emmy img {
    width: 300px;
}

.emmy h1 {
    position: absolute;
    text-align: center;
    margin-top: 122px;
    color: #fff;
    margin-left: 80px;
    font-weight: 1000;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
}



/* CONTAINER 7 */


/* BARRA DE ROLAMENTO */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece{
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical{
    height: 5px;
    background-color: #666;
}

/* BARRA DE ROLAMENTO */


/*RODAPÉ/FOOTER*/
footer {
    padding: 15px 0;
    background-color: #000000;
    border-top: 2px solid #f4eded;
}

footer .container_header {
    justify-content: center;
}

footer p {
    color: #f4eded;
    text-decoration: none;
}