@import url('https://fonts.googleapis.com/css2?family=Nova+Square');

* {
    font-family: 'Nova Square', cursive;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(46, 44, 44), rgb(0, 0, 0));
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo img {
    width: 75px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
    transition: .3s;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
}

ul {
    color: white;
}

.hello {
    width: auto;
    color: white;
    font-size: 19px;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
  }
  
  .hello a:hover {
    color: black;
    transition: .3s;
    text-decoration: underline;
  }



/* HEADER */

body{
    background-color: #000;
}

.container{
    background-color: #000;
    width: 100%;
    height: 100%;

}

.caixa_quiz{
    display: flex;
    background-color: black;
    width: 1000px;
    height: 700px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 260px;
    justify-content: center;
    flex-direction: column;
}

#pergunta{
    font-size: 30px;
    text-transform: uppercase;
    width: auto;
}

.imagem_texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    color: white;
}

.imagem_texto text{
    text-align: center;
}

.botoes_cima{
    display: flex;
    justify-content: center;
    gap: 12%;
    margin-top: 35px;
}

.botoes_cima button{
    width: 170px;
    font-size: 17px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid wheat;
    background-color: transparent;
    color: white;
    transition: 0.6s;
}

.botoes_cima button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.botoes_cima button:focus {
    color: black;
    background-color: white;
}  

.botoes_baixo{
    display: flex;
    justify-content: center;
    gap: 12%;
    margin-top: 35px;
    margin-bottom: 25px;
}

.botoes_baixo button{
    width: 170px;
    font-size: 17px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid wheat;
    background-color: transparent;
    color: white;
    transition: 0.7s;
}

.botoes_baixo button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.botoes_baixo button:focus {
    color: black;
    background-color: white;
}  


#btn_enviar{
    background-color: transparent;
    margin-top: 20px;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    border: 3px solid wheat;
    border-radius: 100px;
    width: 450px;
    height: 60px;
    transition: 0.7s;
    margin-left: 260px;
}

#btn_enviar:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#btn_finalizar{
    background-color: transparent;
    margin-top: 20px;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    border: 3px solid wheat;
    border-radius: 100px;
    width: 450px;
    height: 60px;
    transition: 0.7s;
    margin-left: 260px;
    justify-content: center;
    align-items: center;
}

#btn_finalizar:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#btn_finalizar text{
    margin-left: 10px
}


/* BARRA DE ROLAMENTO */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
}

/* BARRA DE ROLAMENTO */


/*RODAPÉ/FOOTER*/

.redes_sociais {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.701);
  }
  
  .rede_social {
    display: flex;
    align-items: center;
    width: 190px;
    gap: 3%;
  }
  
  .rede_social p {
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    transition: 0.6ss;
  }

  .rede_social p:hover {
    color: gray;
  }
  
  .rede_social a {
    text-decoration: none;
  }
  
  .redes_sociais img {
    width: 25px;
    height: 25px;
  }

footer {
    padding: 15px 0;
    background-color: #000000;
    border-top: 2px solid #f4eded;
}

footer .container_header {
    display: flex;
    justify-content: center;
}

footer p {
    color: #f4eded;
    text-decoration: none;
}