@import url('https://fonts.googleapis.com/css2?family=Nova+Square');

* {
    font-family: 'Nova Square', cursive;
    /*font-family: 'Noto Sans Limbu', sans-serif;*/
    /*font-family: 'Bayon', sans-serif;*/
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(46, 44, 44), rgb(0, 0, 0));
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo img {
    width: 75px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
    transition: .3s;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
}

ul {
    color: white;
}

#button_header {
    border: none;
    background: #000000;
    padding: 12px 30px;
    border: solid 3px white;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

#button_header:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/*FIM DO HEADER*/

/* BANNER 1 */

.container {
    background-image: url(./TwentyonePilots_img7.jpg);
    display: flex;
    justify-content: flex-start;
}

.banner1 {
    display: flex;
    margin-top: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
}

.banner1 h1 {
    font-weight: 10000px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    text-align: center;
}

.botoes button {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
    outline: 0;
    margin-bottom: 100px;
    font-weight: 200;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.botoes button:hover {
    background-color: #fff;
    color: #000;
}

.banner1 img {
    width: 250px;
    margin-bottom: 50px;
}

/* BANNER 1 */


/* BANNER 2 */

.container2 {
    display: flex;
    justify-content: flex-end;
    background-image: url(./TwentyonePilots_img_SKELETON8versao2.jpg);
}


.banner2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: baseline;
}

.texto_banner2 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 790px;
    height: 400px;
    margin-bottom: 200px;
    margin-top: 250px;
    margin-right: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner2 img {
    width: 125px;
    margin-left: 20px;
}

.texto_banner2 p {

    display: flex;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    margin-bottom: 100px;
    font-size: 22px;
    margin-left: 7px;


}


/* BANNER 2 */


/* BANNER TYLER */

.container3 {
    display: flex;
    background-image: url(./TwentyonePilots_img12.jpg);
}

.banner3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
    margin-bottom: 150px;
}

.texto_banner3 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 810px;
    height: 525px;
    margin-bottom: 25px;
    margin-top: 150px;
    margin-left: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner3 img {
    width: 125px;
    margin-left: 20px;
}

.banner3 p {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    width: 750px;
    margin-left: 25px;
}

.banner3 h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    margin-left: 35px;
}

/* BANNER TYLER */

/* BANNER JOSH */

.container4 {
    display: flex;
    justify-content: flex-end;
    background-image: url(./TwentyonePilots_img30ATUALIZADA.jpg);
}

.banner4 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.texto_banner4 {
    display: flex;
    background-color: rgba(32, 31, 31, 0.884);
    flex-direction: column;
    width: 850px;
    height: 525px;
    margin-bottom: 25px;
    margin-top: 150px;
    margin-right: 70px;
    border: 5px solid rgb(198, 193, 193);
    border-radius: 25px;
}

.texto_banner4 img {
    width: 125px;
    margin-left: 20px;
}


.texto_banner4 p {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
    width: 700px;
}

.texto_banner4 h2 {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
        2px -1px 2px #000, -1px -1px #000;
}

/* BANNER JOSH */

/* BANNER BRASIL */

.container5 {
    display: flex;
    justify-content: center;
    background-color: rgb(215, 206, 206);
}

.banner5{
    margin-top: 150px;
}

.banner5 h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 100px;
    text-align: left;
}

.banner5 p {
    text-align: left;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 150;
}

.texto_banner5{
    display: flex;
    flex-direction: column;
}

.texto_imagem_banner5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image:linear-gradient(to right, rgb(42, 142, 19), yellow);
    width: 100%;
    height: 700px;
    border: 5px solid black;
    border-radius: 80px;
    box-shadow: 5px 17px 10px 20px black;
}

.texto_imagem_banner5 img {
    margin-top: 75px;
    margin-bottom: 45px;
    box-shadow: 0px 0px 50px black;
}

#lolla{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100px;
}

.container_slide_brasil{
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 50px;
    width: 1300px;
    height: 800px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 50px black;
    background-image: linear-gradient(to bottom, yellow, green, blue);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 2px solid black;
    box-shadow: 0px 10px 50px black;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio5:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio6:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio7:checked ~ .navigation-auto .auto-btn{
    background: white;
}

#radio8:checked ~ .navigation-auto .auto-btn{
    background: white;
}

/* BANNER BRASIL */


/* CARROSSEL */


.container6 {
    display: flex;
    background-image: url(./fundo_carrossel2.jpg);
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container6 h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 30px;
}

.container_albuns {
    position: relative;
    padding: 15px;
    max-width: 640px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.735);
    border-radius: 30px;
    border: 1px solid gray;
    box-shadow: 0px 0px 30px black;
}

.gallery-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 325px;
    height: 330px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.item-atual {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.caixa_capa a {
    text-decoration: none;
    color: white;
}

#caixa_selftitled:hover {
    box-shadow: 0 0 30px rgb(242, 246, 248);
    transform: scale(0.9);
}

#caixa_RAB:hover {
    box-shadow: 0 0 30px rgb(19, 155, 234);
    border: solid 2px rgb(19, 155, 234);
    transform: scale(0.9);
} 

#caixa_vessel:hover {
    box-shadow: 0 0 30px rgb(22, 73, 140);
    border: solid 2px rgb(22, 73, 140);
    transform: scale(0.9);
}


#caixa_blurryface:hover {
    box-shadow: 0 0 30px rgb(255, 0, 0);
    border: solid 2px rgb(255, 0, 0);
    transform: scale(0.9);
}

#caixa_trench:hover {
    box-shadow: 0 0 30px rgb(255, 247, 0);
    border: solid 2px rgb(255, 238, 0);
    transform: scale(0.9);
}

#caixa_heathens:hover {
    box-shadow: 0 0 30px rgb(160, 27, 111);
    border: solid 2px rgb(160, 27, 111);
    transform: scale(0.9);
}

#titulo_selftitled {
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_selftitled:hover {
    color: black;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white,
    1px -1px 1px white, -1px -1px white;
    transform: scale(1.1);
}

#titulo_heathens {
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_heathens:hover {
    color: rgb(209, 53, 196);
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,
    1px -1px 1px black, -1px -1px black;
    transform: scale(1.1);
}

#titulo_vessel {
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_vessel:hover {
    color: rgb(0, 85, 196);
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,
    1px -1px 1px black, -1px -1px black;
    transform: scale(1.1);
}

#titulo_blurryface {
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_blurryface:hover {
    color: rgb(212, 24, 24);
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,
    1px -1px 1px black, -1px -1px black;
    transform: scale(1.1);
}

#titulo_trench{
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_trench:hover {
    color: rgb(255, 208, 0);
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,
    1px -1px 1px black, -1px -1px black;
    transform: scale(1.1);
}

#titulo_rab {
    text-align: center;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000, -1px -1px #000;
    text-decoration: none;
    transition: 0.6s;
}

#titulo_rab:hover {
    color: rgb(0, 173, 196);
    text-shadow: 1px 1px 1px black, -1px 1px 1px black,
    1px -1px 1px black, -1px -1px black;
    transform: scale(1.1);
}

/* CARROSSEL */

/* CONTAINER 7 */

.container7 {
    display: flex;
    justify-content: center;
    background-image: url(./grammy_fundo.jpg);
}

.banner7 {
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: center;
    gap: 15%;
}

.banner7 h1{
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
    2px -1px 2px #000, -1px -1px #000;
    margin-left: 600px;
}

.texto_banner7{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 30px;
    justify-content: space-around;
}

.texto2_banner7{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
    margin-bottom: 30px;
    justify-content: space-around;
}

.texto7 {
    margin-top: 60px;
}

.texto7 h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 45px;
}

.texto7 p{
    font-size: 25px;
}

.texto_banner7 img{
    box-shadow: 10px 10px 20px black;
    border: 1px solid black;
}

.texto2_banner7 img{
    box-shadow: 10px 10px 30px black;
    border: 1px solid black;
}
/* CONTAINER 7 */


/* BARRA DE ROLAMENTO */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
}

/* BARRA DE ROLAMENTO */


/*RODAPÉ/FOOTER*/

.redes_sociais {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.701);
  }
  
  .rede_social {
    display: flex;
    align-items: center;
    width: 190px;
    gap: 3%;
  }
  
  .rede_social p {
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    transition: 0.6ss;
  }

  .rede_social p:hover {
    color: gray;
  }
  
  .rede_social a {
    text-decoration: none;
  }
  
  .redes_sociais img {
    width: 25px;
    height: 25px;
  }

footer {
    padding: 15px 0;
    background-color: #000000;
    border-top: 2px solid #f4eded;
}

footer .container_header {
    display: flex;
    justify-content: center;
}

footer p {
    color: #f4eded;
    text-decoration: none;
}