/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Nova+Square');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Nova Square', cursive;
}

/* HEADER */

.header {
  height: 100vh;
  width: 100%;
  background-image:url(../assets/imgs/TwentyonePilots_img_TRENCH4.jpg);
  background-size: cover;
  background-position: center;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo img {
  width: 55px;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
  2px -1px 2px #000, -1px -1px #000;
}

nav ul li a:hover {
  color: #fff;
  transition: .3s;
  text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
      2px -1px 2px #000, -1px -1px #000;
}

ul {
  color: white;
}

.hello {
  width: auto;
  color: white;
  font-size: 21px;
  text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
  2px -1px 2px #000, -1px -1px #000;
}


/* HEADER */


/* BANNER 1 */

.banner1{
  margin-top: 280px;
  margin-bottom: 300px;
  width: 100%;
}

.banner1 h1{
  color: rgb(255, 255, 188);
  text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
  2px -1px 2px #000, -1px -1px #000;
  font-size: 130px;
  text-transform: uppercase;
  text-align: center;
}

/* BANNER 1 */

/* CONTAINER 2 */

.container2{
  display: flex;
  background-image: url(../assets/imgs/TwentyonePilots_img_CLIQUE7.3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner2{
  margin-top: 135px;
  margin-bottom: 440px;
  margin-left: 25px;
}

.banner2 p {
  color: white;
  font-weight: 800;
  font-size: 27px;
  text-shadow: 2px 2px 2px #000, -1px 2px 2px #000,
  2px -1px 1px #000, -1px -1px #000;
}

/* CONTAINER 2 */

/* FEED */

.label-captura {
  display: flex;
  justify-content: center;
}

.dash .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.dash .avisos .container .div-form {
  width: 100%;
}

.dash .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash .avisos .div-form label {
  width: 100%;
}

.dash .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}


.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}


.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* FEED */


/* BARRA DE ROLAMENTO */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
}

/* BARRA DE ROLAMENTO */

